.root {
  position: relative;
  background: #222;
  width: 100%;
  margin-bottom: 30px;
  border: 2px solid chartreuse;
  box-sizing: border-box;
  color: yellow;

  .root_block {
    position: relative;
    display: flex;
    height: 100%;

    .media {
      width: 20%;
      height: 100%;
      min-height: 150px;
      box-sizing: border-box;
    }

    .title_block {
      height: 100%;
      width: 80%;
      background: #222;
      color: yellow;
      display: flex;
      justify-content: space-around;
      align-items: center;
      box-sizing: border-box;

      .content {
        display: flex;
        flex-direction: column;
      }

      .text {
        font-weight: 400;

        &:nth-child(even) {
          font-weight: 700;
          color: chartreuse;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .root {
    .root_block {

      .media {
        width: 30%;
      }
      .title_block {
        flex-wrap: wrap;
        align-items: flex-start;

        .content {
          width: 60%;
          box-sizing: border-box;
          padding: 5px;

          &:nth-child(even) {
            width: 40%;
          }
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .root {
    .root_block {
      .content {
        .text {
          font-size: 12px;
        }
      }
    }
  }
}