.filters {
  background: #333;
  padding: 10px;
  border: 2px solid yellow;
  border-radius: 10px;
  display: flex;
  margin-bottom: 15px;
  justify-content: space-around;

  .label {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    padding: 10px;
    color: chartreuse;
    font-weight: 600;

    .inp, .sel {
      margin-top: 10px;
      color: chartreuse;
      border: 1px solid yellow;
      border-radius: 5px;
      padding: 0 10px;
    }
  }
}