.wrap {
  padding: 0 0 20px;

  .pagin {
    display: flex;
    justify-content: center;
    ul {
      li {
        button {
          color: yellow;
        }
      }
    }
  }
}

.showCardWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}