.root {
  position: relative;
  background: #222;
  width: 19%;
  margin-bottom: 30px;
  border: 2px solid chartreuse;
  box-sizing: border-box;
  color: yellow;
  height: 100%;
}
.media {
  width: 100%;
  height: 220px;
  position: relative;
}

.date_block {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 15px;
}
.place {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10;
}
.place_wrap {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #fff;
  padding: 0 !important;
}
.seat_number {
  font-size: 40px;
}
.title_block {
  margin-right: auto;
  box-sizing: border-box;
  width: 100%;
  background: #222;
  color: yellow;
  height: 100px;
  
  h2 {
    font-size: 18px;
    font-weight: bold;
  }
}
.link {

  margin-right: auto;
  &:hover { 
    text-decoration: none 
  }
};
